<form class="{{cssClass}} clock-block" autocomplete="off">

  {{#if editable}}
  <div class="large-name">
    <input type="text" id="clock-{{actor._id}}-name" name="name" value="{{actor.name}}">
  </div>
  <section id="clock-{{actor._id}}-sheet" class="flex-horizontal">
    <div class="flexcol blades-clock-type">
      <select data-type="String" name="system.type">
        <option value="4" {{#if (eq system.type "4")}}selected{{else}}{{#if (eq system.type 4)}}selected{{/if}}{{/if}}>4</option>
        <option value="6" {{#if (eq system.type "6")}}selected{{else}}{{#if (eq system.type 6)}}selected{{/if}}{{/if}}>6</option>
        <option value="8" {{#if (eq system.type "8")}}selected{{else}}{{#if (eq system.type 8)}}selected{{/if}}{{/if}}>8</option>
      </select>
      <select data-type="String" name="system.style">
        <option value="transparent" {{#if (eq system.style "transparent")}}selected{{/if}}>{{localize "FITD.ClockColors.Transparent"}}</option>
        <option value="red" {{#if (eq system.style "red")}}selected{{/if}}>{{localize "FITD.ClockColors.Red"}}</option>
        <option value="blue" {{#if (eq system.style "blue")}}selected{{/if}}>{{localize "FITD.ClockColors.Blue"}}</option>
        <option value="green" {{#if (eq system.style "green")}}selected{{/if}}>{{localize "FITD.ClockColors.Green"}}</option>
        <option value="yellow" {{#if (eq system.style "yellow")}}selected{{/if}}>{{localize "FITD.ClockColors.Yellow"}}</option>
      </select>
      <div class="clocks clocks-{{system.type}}">
        {{{blades-clock "system.value" system.type system.value actor._id}}}
      </div>
    </div>
    <div id="clock-notes" class="flex-vertical">
      <div class="label-stripe">
        <p>{{localize "FITD.Notes"}}</p>
      </div>
      {{editor notes target="system.notes" button=true editable=editable}}
    </div>
  </section>
  {{/if}}
</form>
